<h3><%= @group.fetch("name") %></h3>
<% if @messages.any? %>
<ul>
  <% @messages.each do |message| %>
  <li><a href="/groups/<%= @group.fetch("id") %>/messages/<%= message.fetch("id") %>"><%= message.fetch("title") %></a></li>
  <% end %>
</ul>
<% else %>
<h4>No messages</h4>
<% end %>
<p>
  <%=
  link_to "Delete Group", group_path(@group),
  :data => {:confirm => "Really delete this fancy group?", :method => "delete"}
  %>
</p>
<a href="/groups/<%= @group.fetch("id") %>/messages/new">Add Message</a>
<br>
<a href="/groups/<%= @group.fetch("id") %>/edit">Edit</a>
<br>
<a href="/">Back</a>
